textarea {
	width: 100%;
}

input[type=submit] {
	margin-top: 10px;
}

@font-face{
	font-family: 'CookieRun';
	src: url(/font/CookieRun\ Regular.ttf) format('truetype');
	font-weight: 300;
}
@font-face{
	font-family: 'CookieRun';
	src: url(/font/CookieRun\ Bold.ttf) format('truetype');
	font-weight: 400;
}
@font-face{
	font-family: 'CookieRun';
	src: url(/font/CookieRun\ Black.ttf) format('truetype');
	font-weight: 500;
}

@font-face{
	font-family: 'Gmarket';
	src: url(/font/GmarketSansTTFLight.ttf) format('truetype');
	font-weight: 300;
}
@font-face{
	font-family: 'Gmarket';
	src: url(/font/GmarketSansTTFMedium.ttf) format('truetype');
	font-weight: 400;
}
@font-face{
	font-family: 'Gmarket';
	src: url(/font/GmarketSansTTFBold.ttf) format('truetype');
	font-weight: 500;
}