<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<form th:action="@{/sugang/send}" method="post">
		<div class="mb-3">
			<label for="id" class="form-label">에브리타임ID</label>
			<input type="text" name="id" id="id" class="form-control">
		</div>
		<div class="mb-3">
			<label for="pw" class="form-label">에브리타임PW</label>
			<input type="password" name="pw" id="pw" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">로그인</button>
	</form>
</div>

</html>