<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="row" style="font-family: Gmarket; font-weight: 500;">
        <!-- 좌측 메뉴 -->
        <div class="col-auto col-md-4 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-4 min-vh-100">
                <!-- 메뉴 항목들 -->
                <div class="w-100 d-flex flex-row flex-wrap">
                    <div class="pt-2" style="margin-right: 80px;">
                        <h3 class="text-white" >Information</h3>
	                    <div class="px-3 pt-1" >
	                        <div class="text-white" th:text="'학과: ' + ${site_user.major}">학과 정보</div>
	                        <div class="text-white" th:text="'입학년도: ' + ${site_user.enteryear}">입학 년도</div>
	                    </div>
                    </div>
                    <div class="pt-4">
                        <h3 class="text-white">졸업요건</h3>
                        <div class="text-white px-3 pt-1" id="graduationRequirements">
                            <p id="총학점">총학점: </p>
                            <p id="교양">교양: </p>
                            <p id="교양필수">교양필수: </p>
                            <p id="교양선택">교양선택: </p>
                            <p id="전공">전공: </p>
                            <p id="전공필수">전공필수: </p>
                            <p id="전공선택">전공선택: </p>
                            <p id="일반선택">일반선택: </p>
                            <p id="채플">채플: </p>
                        </div>
                    </div>
                    <!-- 추가 항목-->
                </div>
            </div>
        </div>

        <!-- 오른쪽 콘텐츠 영역 -->
        <div class="col py-3">
            <!-- 상단 사용자 정보 및 요약 카드 -->
            <table class="table table-bordered border border-2 border-black" style="width: 100%; font-family: Gmarket;  font-weight: 500;">
                <tr class="text-center">
                    <th style="width: 10%">구분</th>
                    <th style="width: 10%">총이수학점</th>
                    <th style="width: 10%">교양</th>
                    <th style="width: 10%">교양필수</th>
                    <th style="width: 10%">교양선택</th>
                    <th style="width: 10%">전공</th>
                    <th style="width: 10%">전공필수</th>
                    <th style="width: 10%">전공선택</th>
                    <th style="width: 10%;">일반선택</th>
                    <th style="width: 10%">채플</th>
                </tr>
                <tbody class="table-group-divider" style="text-align: center;">
                    <tr>
                        <td scope="row">이수기준</td>
                        <td id="a총학점"></td>
                        <td id="a교양"></td>
                        <td id="a교양필수"></td>
                        <td id="a교양선택"></td>
                        <td id="a전공"></td>
                        <td id="a전공필수"></td>
                        <td id="a전공선택"></td>
                        <td id="a일반선택"></td>
                        <td id="a채플"></td>
                    </tr>
                    <tr>
                        <td scope="row">취득학점</td>
                        <td th:text="${totalCredits}" id="totalCredits"></td>
                        <td th:text="${culturetotalCredits}" id="culturetotalCredits"></td>
                        <td th:text="${cultureCredits}" id="cultureCredits"></td>
                        <td th:text="${cultureCredit}" id="cultureCredit"></td>
                        <td th:text="${majortotalCredits}" id="majortotalCredits"></td>
                        <td th:text="${majorCredits}" id="majorCredits"></td>
                        <td th:text="${majorCredit}" id="majorCredit"></td>
                        <td th:text="${normalCredit}" id="normalCredit"></td>
                        <td th:text="${chapelCount}" id="chapelCount"></td>
                    </tr>
                    <tr>
                        <td scope="row">필요학점</td>
                        <td id="neededTotalCredits"></td>
                        <td id="neededCulture"></td>
                        <td id="neededMandatoryCulture"></td>
                        <td id="neededElectiveCulture"></td>
                        <td id="neededMajor"></td>
                        <td id="neededMandatoryMajor"></td>
                        <td id="neededElectiveMajor"></td>
                        <td id="neededNormal"></td>
                        <td id="neededChapel"></td>
                    </tr>
                </tbody>
            </table>

            <!-- 하단 성적 차트 및 그래프 영역 -->
            <div class="col py-3">
                <table class="table table-bordered border border-2 border-black" style="width: 100%">
                    <tr class="text-center">
                        <th style="width: 16%">선택영역</th>
                        <th id="cs1" style="width: 14%"></th>
                        <th id="cs2" style="width: 14%"></th>
                        <th id="cs3" style="width: 14%"></th>
                        <th id="cs4" style="width: 14%"></th>
                        <th id="cs5" style="width: 14%"></th>
                        <th id="cs6" style="width: 14%"></th>
                    </tr>
                    <tr class="text-center">
                        <th style="width: 16%">학점</th>
                        <th th:text="${sumCreditsCs1}" id="sumCreditsCs1" style="width: 14%"></th>
                        <th th:text="${sumCreditsCs2}" id="sumCreditsCs2" style="width: 14%"></th>
                        <th th:text="${sumCreditsCs3}" id="sumCreditsCs3" style="width: 14%"></th>
                        <th th:text="${sumCreditsCs4}" id="sumCreditsCs4" style="width: 14%"></th>
                        <th th:text="${sumCreditsCs5}" id="sumCreditsCs5" style="width: 14%"></th>
                        <th th:text="${sumCreditsCs6}" id="sumCreditsCs6" style="width: 14%"></th>
                    </tr>
                </table>
            </div>
            <div class="col py-3" style="width: 100%;">
                <canvas style="width: 100%;" id="gradeChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" type='text/javascript' th:inline="javascript">
    function styleCultureSubjects(hasTaken, elementId) {
        const element = document.getElementById(elementId);
        if (hasTaken) {
            element.style.backgroundColor = 'lightgreen'; // 수강한 경우 초록색
        } else {
            element.style.backgroundColor = 'white'; // 수강하지 않은 경우 빨간색
        }
    }
    
    function styleRequirementRow(elementId) {
        const element = document.getElementById(elementId);
        const value = parseInt(element.textContent, 10); // 요소의 내용을 정수로 변환합니다.

        if (value === 0) { // 이수기준이 0인 경우
            element.parentNode.style.backgroundColor = 'lightgray'; // 해당 줄의 배경색을 회색으로 변경합니다.
        }
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        /*<![CDATA[*/
        const major = /*[[${site_user.major}]]*/'';
        const enteryear = /*[[${site_user.enteryear}]]*/'';
        
        const hasTakenCs1 = /*[[${hasTakenCs1}]]*/'';
        const hasTakenCs2 = /*[[${hasTakenCs2}]]*/'';
        const hasTakenCs3 = /*[[${hasTakenCs3}]]*/'';
        const hasTakenCs4 = /*[[${hasTakenCs4}]]*/'';
        const hasTakenCs5 = /*[[${hasTakenCs5}]]*/'';
        const hasTakenCs6 = /*[[${hasTakenCs6}]]*/'';
        /*]]>*/
        
        // 졸업 요건 데이터를 가져옴
        const requirements = getGraduationRequirements(major, enteryear);
        const cultureRequirements = getCaltureRequirements(enteryear);
        
        if (requirements) {
            document.getElementById('총학점').textContent = '총학점: ' + requirements['총학점']+'학점';
            document.getElementById('교양').textContent = '교양: ' + requirements['교양']+'학점';
            document.getElementById('교양필수').textContent = '교양필수: ' + requirements['교양필수']+'학점';
            document.getElementById('교양선택').textContent = '교양선택: ' + requirements['교양선택']+'학점';
            document.getElementById('전공').textContent = '전공: ' + requirements['전공']+'학점';
            document.getElementById('채플').textContent = '채플: ' + requirements['채플']+'학기';
            document.getElementById('전공선택').textContent = '전공선택: ' + requirements['전공선택']+'학점';
            document.getElementById('전공필수').textContent = '전공필수: ' + requirements['전공필수']+'학점';
            document.getElementById('일반선택').textContent = '일반선택: ' + requirements['일반선택']+'학점';
            
            document.getElementById('a총학점').textContent = requirements['총학점'];
            document.getElementById('a교양').textContent = requirements['교양'];
            document.getElementById('a교양필수').textContent = requirements['교양필수'];
            document.getElementById('a교양선택').textContent = requirements['교양선택'];
            document.getElementById('a전공').textContent = requirements['전공'];
            document.getElementById('a채플').textContent = requirements['채플'];
            document.getElementById('a전공필수').textContent = requirements['전공필수'];
            document.getElementById('a전공선택').textContent = requirements['전공선택'];
            document.getElementById('a일반선택').textContent = requirements['일반선택'];

            // 이수기준과 취득학점 비교 후 스타일 변경
            const totalCreditsElement = document.getElementById('totalCredits');
            const culturetotalCreditsElement = document.getElementById('culturetotalCredits');
            const cultureCredits = document.getElementById('cultureCredits');
            const cultureCredit = document.getElementById('cultureCredit');
            const majortotalCreditsElement = document.getElementById('majortotalCredits');
            const majorCredits = document.getElementById('majorCredits');
            const majorCredit = document.getElementById('majorCredit');
            const normalCredit = document.getElementById('normalCredit');
            const chapelCount = document.getElementById('chapelCount');
            
            compareAndStyle(totalCreditsElement, requirements['총학점']);
            compareAndStyle(culturetotalCreditsElement, requirements['교양']);
            compareAndStyle(cultureCredits, requirements['교양필수']);
            compareAndStyle(cultureCredit, requirements['교양선택']);
            compareAndStyle(majortotalCreditsElement, requirements['전공']);
            compareAndStyle(majorCredits, requirements['전공필수']);
            compareAndStyle(majorCredit, requirements['전공선택']);
            compareAndStyle(normalCredit, requirements['일반선택']);
            compareAndStyle(chapelCount, requirements['채플']);
            
            document.getElementById('cs1').textContent = cultureRequirements['cs1'];
            document.getElementById('cs2').textContent = cultureRequirements['cs2'];
            document.getElementById('cs3').textContent = cultureRequirements['cs3'];
            document.getElementById('cs4').textContent = cultureRequirements['cs4'];
            document.getElementById('cs5').textContent = cultureRequirements['cs5'];
            document.getElementById('cs6').textContent = cultureRequirements['cs6'];
            
            styleCultureSubjects(hasTakenCs1, 'cs1');
            styleCultureSubjects(hasTakenCs2, 'cs2');
            styleCultureSubjects(hasTakenCs3, 'cs3');
            styleCultureSubjects(hasTakenCs4, 'cs4');
            styleCultureSubjects(hasTakenCs5, 'cs5');
            styleCultureSubjects(hasTakenCs6, 'cs6');
                       
			document.getElementById('neededTotalCredits').textContent = (parseInt(document.getElementById('a총학점').textContent, 10) <= parseInt(document.getElementById('totalCredits').textContent, 10))? 0 : parseInt(document.getElementById('a총학점').textContent, 10) - parseInt(document.getElementById('totalCredits').textContent, 10);
			document.getElementById('neededCulture').textContent = (parseInt(document.getElementById('a교양').textContent, 10) <= parseInt(document.getElementById('culturetotalCredits').textContent, 10)) ? 0 : parseInt(document.getElementById('a교양').textContent, 10) - parseInt(document.getElementById('culturetotalCredits').textContent, 10);						
			document.getElementById('neededMandatoryCulture').textContent = (parseInt(document.getElementById('a교양필수').textContent, 10) <= parseInt(document.getElementById('cultureCredits').textContent, 10)) ? 0 : parseInt(document.getElementById('a교양필수').textContent, 10) - parseInt(document.getElementById('cultureCredits').textContent, 10);						
			document.getElementById('neededElectiveCulture').textContent = (parseInt(document.getElementById('a교양선택').textContent, 10) <= parseInt(document.getElementById('cultureCredit').textContent, 10)) ? 0 : parseInt(document.getElementById('a교양선택').textContent, 10) - parseInt(document.getElementById('cultureCredit').textContent, 10);						
			document.getElementById('neededMajor').textContent = (parseInt(document.getElementById('a전공').textContent, 10) <= parseInt(document.getElementById('majortotalCredits').textContent, 10)) ? 0 : parseInt(document.getElementById('a전공').textContent, 10) - parseInt(document.getElementById('majortotalCredits').textContent, 10);						
			document.getElementById('neededMandatoryMajor').textContent = (parseInt(document.getElementById('a전공필수').textContent, 10) <= parseInt(document.getElementById('majorCredits').textContent, 10)) ? 0 : parseInt(document.getElementById('a전공필수').textContent, 10) - parseInt(document.getElementById('majorCredits').textContent, 10);						
			document.getElementById('neededElectiveMajor').textContent = (parseInt(document.getElementById('a전공선택').textContent, 10) <= parseInt(document.getElementById('majorCredit').textContent, 10)) ? 0 : parseInt(document.getElementById('a전공선택').textContent, 10) - parseInt(document.getElementById('majorCredit').textContent, 10);
			document.getElementById('neededNormal').textContent = (parseInt(document.getElementById('a일반선택').textContent, 10) <= parseInt(document.getElementById('normalCredit').textContent, 10)) ? 0 : parseInt(document.getElementById('a일반선택').textContent, 10) - parseInt(document.getElementById('normalCredit').textContent, 10);			
			document.getElementById('neededChapel').textContent = (parseInt(document.getElementById('a채플').textContent, 10) <= parseInt(document.getElementById('chapelCount').textContent, 10)) ? 0 : parseInt(document.getElementById('a채플').textContent, 10) - parseInt(document.getElementById('chapelCount').textContent, 10);

		    const standardIds = ['a총학점', 'a교양', 'a교양필수', 'a교양선택', 'a전공', 'a전공필수', 'a전공선택', 'a일반선택', 'a채플'];
		    
		    standardIds.forEach((id, index) => {
		        const standardValue = parseInt(document.getElementById(id).textContent, 10);
		        
		        // '이수기준' 값이 0일 경우 해당 열의 배경색을 회색으로 변경
		        if (standardValue === 0) {
		            // 해당 열의 '취득학점'과 '필요학점' 선택
		            const achievedColumn = document.querySelectorAll(`tr > td:nth-child(${index + 2})`);
		            const neededColumn = document.querySelectorAll(`tr > td:nth-child(${index + 2})`);
		
		            // 선택된 열의 배경색 변경
		            [...achievedColumn, ...neededColumn].forEach(column => {
		                column.style.backgroundColor = 'lightgray';
		            });
		        }
		    });
            // 전체 평균 학점 데이터 가져오기
            fetch('/api/grades/average')
                .then(response => response.json())
                .then(data => {
                    // 전공 평균 학점 데이터 가져오기
                    fetch('/api/grades/major/average')
                        .then(response => response.json())
                        .then(majorData => {
                            // 데이터로부터 라벨 추출 및 합치기
                            const allLabels = [...new Set([...Object.keys(data), ...Object.keys(majorData)])];
                            // 유니크한 라벨 목록 정렬(선택적)
                            allLabels.sort((a, b) => a.localeCompare(b, undefined, {numeric: true, sensitivity: 'base'}));
                            
                            const ctx = document.getElementById('gradeChart').getContext('2d');
                            const chart = new Chart(ctx, {
                                type: 'bar', // 차트 유형을 'line'으로 설정
                                data: {
                                    labels: allLabels, // x축 라벨 설정
                                    datasets: [
                                        {
                                            label: '전체 평균 학점',
                                            data: allLabels.map(label => data[label] || null),
                                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                            borderColor: 'rgba(255, 99, 132, 1)',
                                            borderWidth: 1,
                                            fill: false,
                                            tension: 0.1
                                        },
                                        {
                                            label: '전공 평균 학점',
                                            data: allLabels.map(label => majorData[label] || null),
                                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                            borderColor: 'rgba(54, 162, 235, 1)',
                                            borderWidth: 1,
                                            fill: false,
                                            tension: 0.1,
                                        }
                                    ]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true,
                                            ticks: {
                                                font: {
                                                    size: 14, // y축 라벨의 글꼴 크기 설정
                                                    family: 'Gmarket', // y축 라벨의 글꼴 설정
                                                    weight: 500
                                                }
                                            }
                                        },
                                        x: {
                                            ticks: {
                                                font: {
                                                    size: 15, // x축 라벨의 글꼴 크기 설정
                                                    family: 'Gmarket', // x축 라벨의 글꼴 설정
                                                    weight: 500
                                                }
                                            }
                                        }
                                    },
                                    
                                    plugins: {
                                        datalabels: {
                                            font: {
                                                size: 12, // 데이터 라벨의 글꼴 크기 설정
                                                family: 'Gmarket', // 데이터 라벨의 글꼴 설정
                                                weight: 500
                                            },
                                            align: 'end',
                                            anchor: 'end',
                                            backgroundColor: function(context) {
                                                return context.dataset.backgroundColor;
                                            },
                                            borderRadius: 4,
                                            color: 'black',
                                            formatter: function(value, context) {
                                                //값이 null이거나 정의되지 않은 경우, 빈 문자열 반환
                                                if (value === null || value === undefined) {
                                                    return '학점 없음';
                                                }
                                                return value.toFixed(2); // 소수 둘째 자리까지 반올림
                                            }
                                        }
                                    }
                                },
                                plugins: [ChartDataLabels] // 차트에 데이터 딌러그인을 적용
                            });
                        });
                });
        } else {
            // 졸업 요건 정보가 없는 경우의 처리
            document.getElementById('graduationRequirements').textContent = '졸업 요건 정보를 불러올 수 없습니다.';
        }
    });
    
    // 이수기준과 취득학점을 비교하고 스타일을 변경하는 함수
    function compareAndStyle(element, standard) {
        if (element && standard) {
            const achievedCredits = parseInt(element.textContent);
            if (achievedCredits >= standard) {
                element.style.backgroundColor = 'lightskyblue';
            } else if (achievedCredits < standard) {
                element.style.backgroundColor = 'lightcoral';
            }
        }
    }
</script>
</html>
