<!doctype html>
<html lang="ko">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- jQuery 라이브러리 추가 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- Bootstrap JS -->
	<script th:src="@{/bootstrap.min.js}"></script>
	<script th:src="@{/bootstrap.bundle.min.js}"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
	<!-- sbb CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<!-- chart.js 라이브러리-->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
	<title>SYU졸업시뮬</title>
</head>

<body style="font-family: Gmaket; font-weight: 500;">
	<div id='wrapper' style="height: auto; min-height: 100%; padding-bottom: 40px;">
		<!-- 네비게이션바 -->
		<nav th:replace="~{navbar :: navbarFragment}"></nav>
		<!-- 기본 템플릿 안에 삽입될 내용 Start -->
		<th:block layout:fragment="content"></th:block>
	</div>
	<!-- footer -->
	<th:block th:replace="~{footer :: footerFragment}"></th:block>
	
	<!-- 기본 템플릿 안에 삽입될 내용 End -->
	<script th:src="@{/major.js}"></script>
	<script th:src="@{/culture.js}"></script>
	<script th:src="@{/requirements.js}"></script>
	<!-- 자바스크립트 Start -->
	<th:block layout:fragment="script"></th:block>
	<!-- 자바스크립트 End -->
	<script>
		document.addEventListener('DOMContentLoaded', function() {
		    // URL에서 쿼리 파라미터를 가져옵니다.
		    const urlParams = new URLSearchParams(window.location.search);
		    const semester = urlParams.get('semester'); // 'semester' 파라미터의 값을 가져옵니다.
		    
		    // 'semester' 파라미터가 있으면, 버튼의 텍스트를 업데이트합니다.
		    if (semester) {
				if(semester == "all"){
					document.getElementById('method_status').textContent = '전체 학기';
				}
				else{
		        	document.getElementById('method_status').textContent = semester;
		        }
		    }
		});
	</script>

</body>
</html>