<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container">
		<table class="table" style="width: 100%">
			<thead class="table-dark">
				<tr class="text-center">
					<th style="width: 15%">
					<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" id="method_status" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false" data-method="">전체 학기</button>
						<ul id="method_type" class="dropdown-menu" role="menu" aria-labelledby="searchType">
						<li role="presentation"><a class="dropdown-item" href="?semester=all" value="전체 학기">전체 학기</a></li>
						<li><hr class="dropdown-divider"></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=1학년 1학기" value="1학년 1학기">1학년 1학기</a></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=1학년 2학기" value="1학년 2학기">1학년 2학기</a></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=1학년 계절학기" value="1학년 계절학기">1학년 계절학기</a></li>
						<li><hr class="dropdown-divider"></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=2학년 1학기" value="2학년 1학기">2학년 1학기</a></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=2학년 2학기" value="2학년 2학기">2학년 2학기</a></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=2학년 계절학기" value="1학년 계절학기">2학년 계절학기</a></li>
						<li><hr class="dropdown-divider"></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=3학년 1학기" value="3학년 1학기">3학년 1학기</a></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=3학년 2학기" value="3학년 2학기">3학년 2학기</a></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=1학년 계절학기" value="3학년 계절학기">3학년 계절학기</a></li>
						<li><hr class="dropdown-divider"></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=4학년 1학기" value="4학년 1학기">4학년 1학기</a></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=4학년 2학기" value="4학년 2학기">4학년 2학기</a></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=4학년 계절학기" value="4학년 계절학기">4학년 계절학기</a></li>
						<li><hr class="dropdown-divider"></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=5학년 1학기" value="5학년 1학기">5학년 1학기</a></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=5학년 2학기" value="5학년 2학기">5학년 2학기</a></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=1학년 계절학기" value="5학년 계절학기">5학년 계절학기</a></li>
						<li><hr class="dropdown-divider"></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=6학년 1학기" value="6학년 1학기">6학년 1학기</a></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=6학년 2학기" value="6학년 2학기">6학년 2학기</a></li>
						<li role="presentation"><a class="dropdown-item" href="?semester=6학년 계절학기" value="6학년 계절학기">6학년 계절학기</a></li>
						</ul>
					</div>
					</th>
					<th style="width: 30%">과목명</th>
					<th style="width: 6%">성적</th>
					<th style="width: 6%">학점</th>
					<th style="width: 15%">전공유무</th>
					<th style="width: 15%">교양영역</th>
					<th style="width: 13%">수정 삭제</th>
				</tr>
			</thead>
			<tbody style="text-align: center;">
		    <tr th:each="sugang : ${sugangs}">
		        <td style="text-align: center;">
		            <span th:text="${sugang.semester}">학기</span>
		        </td>
		        <td>
		            <span th:text="${sugang.subjectName}">과목명</span>
		        </td>
		        <td>
		            <span th:text="${sugang.grade}">성적</span>
		        </td>
		        <td>
		            <span th:text="${sugang.credit}">학점</span>
		        </td>
		        <td>
		            <span th:text="${sugang.subjectType}">전공 유무</span>
		        </td>
		        <td>
		            <span th:text="${sugang.culture}">교양 영역</span>
		        </td>
		        <td>
		            <a th:href="@{/main/modify/{id}(id=${sugang.id})}" class="btn btn-primary btn-sm"
		               sec:authorize="isAuthenticated()"
		               th:if="${sugang.author != null and #authentication.getPrincipal().getUsername() == sugang.author.username}">
		                수정
		            </a>
		            <a href="javascript:void(0);" th:data-uri="@{/main/delete/{id}(id=${sugang.id})}"
		                class="delete btn btn-danger btn-sm" sec:authorize="isAuthenticated()"
		                th:if="${sugang.author != null and #authentication.getPrincipal().getUsername() == sugang.author.username}"
		                th:text="삭제">
                	</a>
		        </td>
		    </tr>
		    <bd>
		</tbody>
	</table>
</div>
<script layout:fragment="script" type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
</html>