<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container">
		<table class="table" style="width: 100%">
			<thead class="table-dark">
				<tr class="text-center">
					<th style="width: 15%">학기</th>
					<th style="width: 30%">과목명</th>
					<th style="width: 8%">성적</th>
					<th style="width: 8%">학점</th>
					<th style="width: 15%">전공유무</th>
					<th style="width: 15%">교양영역</th>
					<th style="width: 9%">저장</th>
				</tr>
			</thead>
			<tbody style="text-align: center;">
				<tr>
					<form th:action="@{/main/modify/{id}(id=${sugang.id})}" th:object="${mainForm}" method="post">
						<td style="text-align: center;">
							<select class="form-select" name="semester" style="text-align: center;">
								<option value="1학년 1학기" th:selected="*{semester} == '1학년 1학기'">1학년 1학기</option>
								<option value="1학년 2학기" th:selected="*{semester} == '1학년 2학기'">1학년 2학기</option>
								<option value="1학년 계절학기" th:selected="*{semester} == '1학년 계절학기'">1학년 계절학기</option>
								<li><hr class="dropdown-divider"></li>
								<option value="2학년 1학기" th:selected="*{semester} == '2학년 1학기'">2학년 1학기</option>
								<option value="2학년 2학기" th:selected="*{semester} == '2학년 2학기'">2학년 2학기</option>
								<option value="2학년 계절학기" th:selected="*{semester} == '2학년 계절학기'">2학년 계절학기</option>
								<li><hr class="dropdown-divider"></li>
								<option value="3학년 1학기" th:selected="*{semester} == '3학년 1학기'">3학년 1학기</option>
								<option value="3학년 2학기" th:selected="*{semester} == '3학년 2학기'">3학년 2학기</option>
								<option value="3학년 계절학기" th:selected="*{semester} == '3학년 계절학기'">3학년 계절학기</option>
								<li><hr class="dropdown-divider"></li>
								<option value="4학년 1학기" th:selected="*{semester} == '4학년 1학기'">4학년 1학기</option>
								<option value="4학년 2학기" th:selected="*{semester} == '4학년 2학기'">4학년 2학기</option>
								<option value="4학년 계절학기" th:selected="*{semester} == '4학년 계절학기'">4학년 계절학기</option>
								<li><hr class="dropdown-divider"></li>
								<option value="5학년 1학기" th:selected="*{semester} == '5학년 1학기'">5학년 1학기</option>
								<option value="5학년 2학기" th:selected="*{semester} == '5학년 2학기'">5학년 2학기</option>
								<option value="5학년 계절학기" th:selected="*{semester} == '5학년 계절학기'">5학년 계절학기</option>
								<li><hr class="dropdown-divider"></li>
								<option value="6학년 1학기" th:selected="*{semester} == '6학년 1학기'">6학년 1학기</option>
								<option value="6학년 2학기" th:selected="*{semester} == '6학년 2학기'">6학년 2학기</option>
								<option value="6학년 계절학기" th:selected="*{semester} == '6학년 계절학기'">6학년 계절학기</option>
							</select>
						</td>
						<td>
							<input style="text-align: center; width: 90%;" type="text" name="subjectName" th:value="*{subjectName}">
						</td>
						<td>
							<select class="form-select" name="grade" style="text-align: center;">
								<option value="A+" th:selected="*{grade} == 'A+'">A+</option>
								<option value="A0" th:selected="*{grade} == 'A0'">A0</option>
								<option value="B+" th:selected="*{grade} == 'B+'">B+</option>
								<option value="B0" th:selected="*{grade} == 'B0'">B0</option>
								<option value="C+" th:selected="*{grade} == 'C+'">C+</option>
								<option value="C0" th:selected="*{grade} == 'C0'">C0</option>
								<option value="D+" th:selected="*{grade} == 'D+'">D+</option>
								<option value="D0" th:selected="*{grade} == 'D0'">D0</option>
								<option value="F"  th:selected="*{grade} == 'F'">F</option>
								<option value="P" th:selected="*{grade} == 'P'">P</option>
								<option value="NP" th:selected="*{grade} == 'NP'">NP</option>
							</select>
						</td>
						<td>
							<input style="text-align: center;" th:value="*{credit}" type="number" id="credit" name="credit" min="0" max="3" step="1">
						</td>
						<td>
							<select class="form-select" id="subjectType" name="subjectType" style="text-align: center;">
								<option value=""  th:selected="*{subjectType} == 'false'">-</option>
								<option value="채플" th:selected="*{subjectType} == '채플'">채플</option>
								<option value="전공 필수" th:selected="*{subjectType} == '전공 필수'">전공 필수</option>
								<option value="전공 선택" th:selected="*{subjectType} == '전공 선택'">전공 선택</option>
								<option value="교양 필수" th:selected="*{subjectType} == '교양 필수'">교양 필수</option>
								<option value="교양 선택" th:selected="*{subjectType} == '교양 선택'">교양 선택</option>
								<option value="일반 선택" th:selected="*{subjectType} == '일반 선택'">일반 선택</option>
								<option value="부전공 필수" th:selected="*{subjectType} == '부전공 필수'">부전공 필수</option>
								<option value="부전공 선택" th:selected="*{subjectType} == '부전공 선택'">부전공 선택</option>
								<option value="복수전공 필수" th:selected="*{subjectType} == '복수전공 필수'">복수전공 필수</option>
								<option value="복수전공 선택"  th:selected="*{subjectType} == '복수전공 선택'">복수전공 선택</option>
							</select>
						</td>
						<td>
							<select class="form-select" id="culture" name="culture" style="text-align: center;">
									
							</select>
						</td>
						<td>
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<input type="submit" value="저장하기" class="btn btn-primary my-1">
						</td>
					</form>
				</tr>
		</tbody>
	</table>
</div>
<script layout:fragment="script" type='text/javascript' th:inline="javascript">
document.addEventListener("DOMContentLoaded", function() {
    var subjectSelect = document.getElementById("subjectType");
    var cultureSelect = document.getElementById("culture");
    /*<![CDATA[*/
    var currentCulture = /*[[${mainForm.culture}]]*/ 'defaultCulture';
    /*]]>*/
    
    function updateCultures(subjectType) {
        var options = cultures[subjectType] || [];
        cultureSelect.innerHTML = ""; // 기존 옵션들 제거

        options.forEach(function(option) {
            var optionElement = document.createElement("option");
            optionElement.value = option.value;
            optionElement.textContent = option.text;
            // 현재 culture 값과 일치하는 옵션이 있다면, 선택된 상태로 설정
            if(option.value === currentCulture) {
                optionElement.selected = true;
            }
            cultureSelect.appendChild(optionElement);
        });
    }

    // subjectType 변경 시 culture 옵션 업데이트
    subjectSelect.addEventListener("change", function() {
        updateCultures(this.value);
    });

    // 페이지 로딩 시 초기 옵션 설정
    updateCultures(subjectSelect.value);
});
</script>
</html>